
#page_title {
  text-align: center;
  font-weight: bolder;
  background-color: antiquewhite;
}

.navbar {
  background-color: lavender;
}

body {
  background-color: antiquewhite;
}

.btn {
  margin: 2px;
}